@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// FONTS;
$family: "OpenSans", sans-serif;
$size-xs: 8px;
$size-xs-n: 15px;
$size-n: 16px;
$size-ns: 22px;
$size-s: 32px;
$size-l: 42px;
$size-xl: 64px;
$size-xxl: 72px;

// COLORS;
$pearl: #ffffff;
$pureb: #000000;
$fading-gray: #cccccc;
$fading-white: #eeeeee;
$dark-gray: #888888;
$warning: #ffcc00;
$warning-dark: #ff9933;
$danger: #cc0000;
$success: #009933;
$blueish: #0099ff;

// SIZES;
$xs: 0.5rem;
$n: 1rem;
$s: 1.5rem;
$l: 2rem;
$xl: 3.5rem;
$xxl: 5rem;
$xxxl: 10rem;

